<%= goal.body %><br>
Completed: <%= goal.completed ? "completed" : "in progress" %><br>
Public: <%= goal.public ? "public" : "private" %><br>
Number of cheers: <%= goal.cheers.length %><br>
<% if goal.user == current_user %>
  <%= link_to "Edit Goal", edit_goal_url(goal) %><br>
  <% if !goal.completed %>
    <%= button_to "Mark Completed", toggle_goal_url(goal) %>
  <% else %>
    <%= button_to "Mark In Progress", toggle_goal_url(goal) %>
  <% end %>
  <%= button_to "Delete Goal", goal_url(goal), method: :delete %>
<% end %>
<%= link_to "Comment On Goal", goal_url(goal) %>

<% unless current_user.cheered_goals.include?(goal) %>
  <%= button_to "Cheer this goal", cheer_goal_url(goal) %>
<% end %>

<br>

<h3>Comments on the this goal:</h3>
<%= render goal.comments.includes(:author) %>
