<h1>Update Goal</h1>

<form action="<%= goal_url(@goal) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%= auth_token %>

  <label for="goal-body">Goal
    <input type="text" id="goal-body" name="goal[body]" value="<%= @goal.body %>">
  </label><br>

  <label for="goal-public">Public
    <input
      type="radio"
      id="goal-public"
      name="goal[public]"
      value="true"
      <%= "checked" if @goal.public %>>
  </label><br>
  <label for="goal-private">Private
    <input
      type="radio"
      id="goal-private"
      name="goal[public]"
      value="false"
      <%= "checked" unless @goal.public %>>
  </label><br>

  <input type="submit" value="Update Goal">
</form>
